<div *ngIf="emprendedor" style="margin-bottom: 2rem;">
    <h3>{{emprendedor?.nombre}}</h3>
    <div>
        <div style="height: 300px; display: inline-block;">
            <img [src]="emprendedor?.foto_url" alt="{{ emprendedor?.nombre }}" style="width: 80%; ">
        </div>
        
        <div style="width: 50%; display: inline-block;">
            <p><strong>Pregrado: </strong> {{emprendedor.pregrado}} </p>
            <p><strong>Genero: </strong> {{emprendedor.genero}} </p>
            <p><strong>Emprendimientos: </strong></p>
            <ul>
                <li *ngFor="let emprendimiento of emprendedor.emprendimientos">{{ emprendimiento }}</li>
            </ul>
        </div>
    </div>
</div>
