

<div class="container py-4">
  <div class="row g-4">
    @for (emprendedor of emprendedores; track emprendedor.id) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 text-center">
          <td><img [src]="emprendedor.foto_url" alt="{{ emprendedor.nombre }}" style="width: 30px; height: auto;"></td>
          <div class="card-body">
            <h5 class="card-title">{{ emprendedor.nombre }}</h5>
            <p class="card-text mb-1"><strong>Porciones:</strong> {{ emprendedor.genero }}</p>
            <p class="card-text"><strong>Tiempo:</strong> {{ emprendedor.pregrado }}</p>
            <button 
              class="btn btn-primary mt-2"
              (click)="goToDetail(emprendedor.id)">
              Ver la receta
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</div>